<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'slider1.jpeg' %>
      <div class="carousel-caption">
       Find great food in PDX!
      </div>
     </div>
     <div class="item">
      	<%= image_tag 'slider2.jpeg' %>
      	<div class="carousel-caption">
      	Portland Pizza!
      	</div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<% @places.each do |place| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= link_to place.name, place_path(place) %></h1><br />
	<i><%= place.address %></i><br /><br />
	<p><%= place.description %></p><br />

		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>
	</div>
	<hr />


	<div class="col-xs-12 col-sm-6 col-xs-offset-1">
		
		<% if place.comments.present? && place.comments.last.humanized_rating.present? %>
			<blockquote>
			<b><%= place.comments.last.humanized_rating %> </b>-
		<% end %>

		<% if place.comments.present?%>
			<%= place.comments.last.message %>
			<% if place.comments.last.user.present? %>
				<small><%= place.comments.last.user.email %></small>
			<% end %>	
		<% end %>
	</blockquote>
	</div>
	<div class="clear">
	<% if place.photos.last.present? && place.photos.last.picture.present?  %>
		<%= image_tag place.photos.last.picture, :class =>" col-xs-offset-1 img_responsive" %>
	  <%end%>
  <%end%>
</div>
	<%= will_paginate @place %>
